* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 600px;
  margin: 100px auto;
  text-align: center;
}
form {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 32px;
}
.address-input {
  width: 200px;

  padding: 10px;
}

button {
  display: block;
  padding: 10px;
}

.display-result {
  font-size: 22px;
  font-weight: 500;
}
